@font-face { font-family: Road_Rage; src: url('/fonts/Road_Rage.otf'); }

@font-face { font-family: Another_Danger; src: url('/fonts/Another_Danger.otf'); }


* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

html {
    background-color: black;
}
  

h1 {
    font-family: "Road_Rage";
    color: white;
    font-size: 30px;
    white-space: nowrap;
}

p {
    font-size: 6px;
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(/images/slava-flag-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header {

    padding-top: 15px;
    z-index: 1;
}

.hero-button {
    background-color: transparent;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
    color: gray;
}

.hero-button:hover {
    color: aqua;
    border-color: aqua;
}

.hero-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-object {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-img {
    max-width:100%;
    max-height:100%;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    object-fit: cover;
    z-index: 0;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 20vh;
}

.hero-text-1 {
    font-family: "Road_Rage";
    font-size: 6vw;
    font-weight: 600;
    margin-bottom: -20px;
    letter-spacing: 2px;
}

.hero-text-2 {
    font-family: "Another_Danger";
    margin-top: 10px;
    font-size: 16vw;
    color: aqua;
    transform: rotate(-3deg);
    letter-spacing: 10px;
}

.black-bottom {
    background-color: transparent;
    max-width: 100%;
    width: 100vw;
    height: 80px;
    background-image: url(/images/black-bottom.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    object-fit: cover;
    z-index: 1;
}

p {
    padding: 1rem;
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

.terminal-text-1, .terminal-text-2, .terminal-text-3 {
    color: #5ad8f5;
    overflow: hidden;
 }

 
 .laptop-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

 .laptop {
  max-width: 50rem;
  position: relative;
}

.camera {
  background: #222;
  display: block;
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  top: 0.5rem;
  left: 18.5rem;
  z-index: 1000;
}


.upper {
  width: 39rem;
  height: 22rem;
  background: #d6d6d6;
  border: 3px solid #eaeaea;
  border-bottom: none;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-left: 5rem;
  box-shadow: inset 0 0 2px 2px #d6d6d6;
  position: relative;
  z-index: -2;
}
.upper:before {
  width: 38rem;
  height: 20rem;
  background: black;
  display: block;
  content: "";
  top: 1.5rem;
  left: 0.5rem;
  position: absolute;
  z-index:-1;
}


.lower {
  width: 50rem;
  height: 1rem;
  background: #eaeaea;
  border-radius: 2px;
  position: relative;
}
.lower:before {
  display: block;
  content: "";
  position: absolute;
  width: 10rem;
  height: 0.6rem;
  background: #a1a1a1;
  left: 20rem;
  top: 0;
  border-radius: 0 0 0.25rem 0.25rem;
}
.lower:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 0.75rem;
  background: #bababa;
  top: 1rem;
  border-bottom-right-radius: 7.5rem 2.5rem;
  border-bottom-left-radius: 7.5rem 2.5rem;
}

.terminal-article {
  margin-top: 12px;
  margin-left: 1px;
  width: 100%;
  z-index: 1;

}

 @media screen and (min-width: 540px) {

.hero-text-1 {
    font-size: 25px;
}

.hero-text-2 {
    font-size: 70px;
}
}

@media screen and (min-width: 850px) {

.hero-object {
    width: 100vw;
    height: auto;

}

.hero-img {
    max-width: 1000px;
    display: block;

    position: absolute;
    bottom: 0px;
    z-index: 0;
}

.header {

    padding-left: 80vw;

}

}
